.pah .pah159_2_loaded,
body.pah159_2_loaded {
    & .click-collect__overlay-trigger,
    & #checkout-combo {
        display: none !important;
    }
    
    & [test="pah159_2"] {
        --er-brand: #5A2C82;
        --charcoal: #6C6C70;
        --pets-brand: #54B947;
        --pets-brand-dark: #00551C;
        
        --black: #2A2A2A;
        --white: #ffffff;
        --off-white: #F7F7F7;
        
        --br: 4px;
        
        background: var(--off-white);
    }

    & .er_module {
        padding: 1rem;
        font-size: 16px;
        font-family: "Museo", sans-serif;

        & .flex-spacer-1 { flex-grow: 1 }

        & .title {
            font-weight: 400;
            font-size: 1.25em;
            font-family: inherit;
        }

        &, & .frequencies {
            display: flex;
            flex-direction: column;

            & .frequency {
                display: flex;
                margin: 1rem 0 0;
                flex-direction: column;
                border-radius: var(--br);

                &, & * {
                    transition: all .1s cubic-bezier(0.42, 0, 1, 0.69);
                }
                
                &.active,
                &:hocus {
                    box-shadow: 0px 2px 3px rgba(0,0,0,.15),
                                0px 0px 6px rgba(0,0,0,.15);
                }

                & label {
                    width: 100%;
                    padding: 1em;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    font-size: 1em;
                    background: var(--white);
                    border-radius: var(--br);

                    &[for="purchase_frequency_type-er"] {
                        color: var(--er-brand);
                    }

                    & .icon {
                        --size: 24px;
                        margin: 0 .5em;
                        width: var(--size);
                        height: var(--size);
                    }

                    & [name="purchase_frequency_type"] {
                        --size: 24px;
                        width: var(--size);
                        height: var(--size);
                        margin: 0 12px 0 0;
                        box-sizing: border-box;

                        border-radius: 100%;
                        background: var(--pets-brand);
                        outline: 2px solid var(--charcoal);
                        border:  6px solid var(--white);
                    }
                }

                & .frequency_selector {
                    width: 100%;
                    max-height: 150px;
                    overflow: hidden;
                    padding: 0 1em 1em;
                    box-sizing: border-box;
                    background: var(--white);
                    border-radius: var(--br);

                    & .tagline {
                        font-size: 1em;
                        font-weight: 300;
                        line-height: 1.2;
                        color: var(--black);
                        margin-bottom: .8em;
                    }

                    & #purchase_frequency {
                        width: 100%;
                        font-size: 1em;
                        font-weight: 400;
                        padding: .8em 1em;
                        font-family: "Museo", sans-serif;
                        border-radius: 4px;
                        border: 1px solid var(--er-brand);
                    }
                }

                & .saving {
                    justify-self: flex-end;
                }

                &:not(.active) {
                    & .frequency_selector {
                        padding: 0 1em;
                        max-height: 0;
                    }

                    & [name="purchase_frequency_type"] {
                        background: var(--white);
                    }
                }
            }
        }
    }

    & .cta_module {
        display: flex;
        justify-content: center;

        padding: 1rem;

        font-size: 16px;
        font-family: "Museo", sans-serif;

        &.sticky {
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            position: fixed;

        }

        &.sticky ~ .gis-cta-reset #gis-cta-container {
            transform: translateY(-100px);
        }

        & .cta_container {
            flex-grow: 1;
            padding-left: .5rem;

            & .btn.pdp_add_to_basket {
                min-width: unset;
                max-width: unset;
                width: 100%;
                
                font-size: 1rem;

                margin: 0 auto;
                padding: 1.5rem 0.5rem;

                & .price {
                    margin-left: 1ch;
                }
            }
        }

        & .qty_selector {
            flex-grow: 0;
            max-width: 100px;
            padding-right: .5rem;

            & [for="prod_qty_input"] {

                & input#prod_qty_input {
                    width: 100%;
                    height: 100%;
                    font-size: 1rem;
                    text-align: center;
                    font-family: 'Museo', sans-serif;
                    border: 1px solid rgba(0,0,0,.15);
                }
            }
        }
    }
}