.pah .pah159_2_loaded,
body.pah159_2_loaded {
    & #pdpertag,
    & #pdperprice,
    & [data-module="pdp_price"], 
    & [data-module="pdp_offer_text"],
    & .stock-level-link-easy .add-to-basket__tooltip {
        display: none !important;
    }
    
    & #checkout-combo,
    & #add-to-basket {
        & #add_to_cart,
        & .add-to-basket__item,
        & .checkout-combo__label,
        & .add-to-basket__content,
        & .click-collect__button {
            display: none !important;
        }
    }
    
    & #add-to-basket,
    & #checkout-combo,
    & [test="pah159_2"],
    & [data-module="click_collect"],
    & .checkout-combo__item.add-to-basket {
        --br: 4px;
        --black: #2A2A2A;
        --white: #ffffff;
        --smoke: #DCDCDC;
        --charcoal: #6C6C70;
        --off-white: #F7F7F7;
        --pets-brand-red: #CE2010;
        --pets-brand-green: #54B947;
        --pets-brand-purple: #5A2C82;
        --pets-brand-dark-green: #00551C;

        background: var(--off-white);
    }

    & [data-module="click_collect"] {
        --bottom-offset: 40px;
        margin-bottom: calc(0px - var(--bottom-offset));
        padding: 1em 0 calc(1em + var(--bottom-offset));

        & .click-collect__overlay-trigger {
            background: var(--white);
        }
    }

    & .tick-list[data-module="tick_list"] {
        padding-bottom: 0;
    }

    & section.selector.error  {
        position: relative;

        &::after {
            content: "Please select a valid frequency";
            margin: .5rem 1rem;
            display: block;
            color: var(--pets-brand-red);
            background-image: url(https://editor-assets.abtasty.com/47297/6295f50d2c14e1653994765.svg);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: 1rem 1rem;
            padding-left: 1.5rem;
            font-family: "Museo", sans-serif;
        }
    }
    
    & .stock-level-link-easy[data-target="locationPopout"],
    & .add-to-basket__add-btn.stock-level-btn[data-target="locationPopout"],
    & .stock-level-btn-easy {
        color: #00551c;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        font-family: "Museo";
        padding: 0 !important;
        margin-top: -20px;
        display: block;
        width: 100%;
    }


    & #add-to-basket,
    & #checkout-combo {
        margin: 0;

        &,
        & .checkout-combo__item,
        & .add-to-basket {
            border: none;
            box-shadow: none;
        }
        
        & .checkout-combo__content {
            transition: none !important;
        }
    }

    & .cta_module {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        padding: 1rem;

        font-size: 16px;
        font-family: "Museo", sans-serif;

        &.sticky {
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            position: fixed;

        }

        &.sticky ~ .gis-cta-reset #gis-cta-container {
            transform: translateY(-100px);
        }

        & .cta_container {
            & .btn.pdp_add_to_basket {
                min-width: unset;
                max-width: unset;
                width: 100%;
                
                font-size: 1rem;

                margin: 0 auto;
                padding: 1.5rem 0.5rem;

                & .price {
                    margin-left: 1ch;
                }
            }
        }

        & .qty_selector {
            margin-bottom: 2rem;
            
            & label {
                display: block;
                margin-bottom: 1rem;
                font-size: 1.25em;
                font-weight: 400;
            }

            & .number_input_container {
                --container-width: 152px;
                --container-height: 48px;

                display: flex;
                width: var(--container-width);
                height: var(--container-height);
                
                & .operator, 
                & #prod_qty_input {
                    text-align: center;
                    background-color: var(--white);
                    line-height: var(--container-height);
                }

                & #prod_qty_input {
                    font-size: 1rem;
                    font-weight: 700;
                    text-align: center;
                    border: 1px solid var(--smoke);
                    font-family: 'Museo', sans-serif;
                    width: calc(var(--container-width) - (var(--container-height) * 2));
                }
    
                & .operator {
                    cursor: pointer;
                    border: 1px solid var(--smoke);
                    width: var(--container-height);
    
                    &.number_input_increase {
                        border-left: 0;
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                    
                    &.number_input_decrease {
                        border-right: 0;
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                    }
                }
            }
        }

        & .check_stock_link {
            display: block;
            text-align: center;
            margin: 1.5em auto 1em;
            text-decoration: underline;
            color: var(--pets-brand-dark);
        }
    }

    & .pah195_2_deliveryPromise {
        margin: 0 0 1em;
    }
}